*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 85%;
    width: 100%;
    background-color:#f7b602;
    display: flex;
    padding: 5vw 10vw;
}
#left{
    height: 100%;
    width: 45%;
    background-color: #333;
   /* background-image: url(https://i.scdn.co/image/ab67616d0000b273ed95ebd3eaa99162b126928b);*/
    background-size: cover;
    background-position: bottom;
}
#right{
    height: 100%;
    width: 55%;
    padding: 0 3vw;
}
#right h3{
    font-size: 25px;
}
#all-songs{
    height: 85%;
    margin-top: 25px;
}
.song-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5a5a5aef;
   padding: 8px 5px;
}
.song-card:hover{
    background-color: #c48d16a6;
}
.song-card:nth-last-child(1){
    border-bottom: 1px solid #5a5a5a;
}
.song-card .part1{
    display: flex;
    align-items: center;
    pointer-events: none;
}
.song-card img{
    height: 55px;
    width: 55px;
    margin-right: 20px;
}
.song-card h2{
    font-size: 22px;
    font-weight: 600;
}
.song-card h6{
    font-size: 16px;
    font-weight: 500;
}
#player{
    height: 15%;
    width: 100%;
    background-color: #543f03;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#player h3{
    background-color:#b58e21;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#player h3 i{
    font-size: 22px;
}
#player h3:active{
    scale: 0.9;
}